<div *ngIf="isBrowser" style="display: flex; justify-content: center; align-items: flex-start; gap: 20px; margin-top: 70px;">
  <!-- Line Chart for FSR Data -->
  <div style="text-align: center; width: 45%;">
    <h2 style="margin: 0; margin-bottom: 20px;">FSR Data/Time</h2>
    <canvas baseChart
            [data]="lineChartData"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
            [type]="'line'"
            style="width: 100%; height: 400px;">
    </canvas>
  </div>

  <!-- Bar Chart for Average Pressure -->
  <div style="text-align: center; width: 45%;">
    <h2 style="margin: 0; margin-bottom: 20px;">FSR Ortalama Basıncı</h2>
    <canvas baseChart
            [data]="averagePressureData"
            [options]="averagePressureOptions"
            [legend]="true"
            [type]="'bar'"
            style="width: 100%; height: 400px;">
    </canvas>
  </div>
</div>
